<!-- Top controls -->
<div class="d-flex align-items-center gap-3 mb-4">

  <!-- Track dropdown -->
  <select class="form-select w-auto" id="trackSelect">
    <% if (typeof trackList !=='undefined' && trackList.length> 0) { %>
      <% trackList.forEach(track=> { %>
        <option value="<%= track.track_name %>">
          <%= track.track_name %>
        </option>
        <% }) %>
          <% } %>
  </select>

  <!-- Filter button -->
  <button class="btn btn-primary" id="filterLeaderboard">Pokaż tor</button>

  <!-- New button for extended filters -->
  <button class="btn btn-outline-primary" id="toggleFiltersDropdown">Filtry</button>

  <!-- Check it out button -->
  <button class="btn btn-warning" id="virtualLapTime">Sprawdź się</button>

</div>