<!-- Top controls -->
<div class="d-flex flex-wrap align-items-center gap-3 mb-4 px-2 px-md-0"> <!-- Added px-2 for mobile, px-md-0 for larger screens -->

  <!-- Track dropdown -->
  <select class="form-select flex-grow-1" id="trackSelect">
    <% if (typeof trackList !=='undefined' && trackList.length> 0) { %>
      <% trackList.forEach(track=> { %>
        <option value="<%= track.track_name %>">
          <%= track.track_name %>
        </option>
        <% }) %>
          <% } %>
  </select>
  
  <!-- New button for extended filters -->
  <button class="btn btn-primary flex-grow-1" id="toggleFiltersDropdown">Filtruj</button>

  <!-- Check it out button -->
  <button class="btn btn-warning flex-grow-1" id="virtualLapTime">Sprawdź się</button>

</div>