/* After page load, we’ll add .visible */
#logo.fade-in.visible {
  transition-delay: 0.5s;
  opacity: 1;
}

#subPages.fade-in.visible {
  transition-delay: 1s;
  opacity: 1;
}

#socialMedia.fade-in.visible {
  transition-delay: 1.5s;
  opacity: 1;
}

/* Custom styles for fade-in/out with collapse */
.fade-collapse {
  opacity: 0; /* Start hidden */
  transition: opacity 0.35s ease-in-out; /* Smooth transition for opacity */
}

.fade-collapse.show {
  opacity: 1; /* Fully visible when shown */
}

.virtual-lap-row {
  font-weight: bold !important; /* Make the text bold */
  border-left: 3px solid #1fafdb;
}
