<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome for social media icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body class="bg-light">

    <!-- Include the shared header -->
    <%- include('components/header/_header') %>

    <!-- Include the new add laptime form partial, passing all necessary data -->
    <%- include('components/add-laptime/_laptime_details', { trackList: trackList, }) %>

    <!-- Include scripts -->
    <%- include('components/add-laptime/_scripts') %>

</body>

</html>