<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">

  <!-- Import Styles -->
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/landing_styles.css">

</head>

<body class="d-flex flex-column justify-content-center align-items-center min-vh-100 bg-dark text-light">

  <!-- Logo -->
  <img src="<%= logo %>" alt="Logo" class="img-fluid mb-5 fade-in" id="logo" style="max-width: 600px;">

  <!-- Options / Subpages to choose -->
  <%- include('components/landing/_options') %>
  
  <!-- Scripts -->
  <%- include('components/landing/_scripts') %>
</body>

</html>