<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Szczegóły Okrążenia</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/lap-details.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
  <div class="container-fluid py-1" >
    <div class="row justify-content-center">
      <!-- Top Div: Rider Header -->
      <div class="col-md-10 mt-5">
        <%- include('components/lap-details/_rider_header') %>
      </div>
      <!-- Row for side-by-side divs -->
      <div class="col-md-10 mt-4">
        <div class="row">
          <!-- Left Div: Lap Details -->
          <div class="col-md-6" id="lap-details-left">
            <%- include('components/lap-details/_rider_single_lap_details') %>
          </div>
          <!-- Right Div: Rider Track History -->
          <div class="col-md-6">
            <%- include('components/lap-details/_rider_track_history') %>
          </div>
        </div>
        <a href="/leaderboard" class="btn btn-secondary col-md-12 mb-3 mt-3">Powrót do tablicy wyników</a>
      </div>
    </div>
  </div>

  <!-- Include client-side scripts -->
  <script src="/scripts/utils.js" type="module"></script>
  <script src="/client_scripts/lap-details.js" type="module"></script>
</body>

</html>